@page "/Employees"
@inject NavigationManager Nav
@using EksamensProjekt.Models
@using EksamensProjektAPI.Services
@inject Blazored.LocalStorage.ILocalStorageService LS
@rendermode InteractiveServer
@inject HttpClient Http
@inject IJSRuntime JS

@if (users == null)
    
{
    <p>Henter brugere fra databasen...</p>                 @* Vises mens vi venter på svar *@
}
else if (users.Count == 0)
{
    <div class="alert alert-info">Der er ingen brugere endnu – opret det første ovenfor!</div>
}
else
{
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        @foreach (var u in users)
        {
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Brugernavn: @u.Username</h5>
                        <h5 class="card-title">Email: @u.Email</h5>
                        <h5 class="card-title">Er admin: @u.IsAdmin</h5>
                        <p class="text-muted small">ID: @u.UserId</p>
                    </div>
                    <div class="card-footer">
                        <!-- <button class="btn btn-danger btn-sm" 
                                @onclick="() => DeleteSkill(s.SkillId)">
                            Slet
                        </button>-->
                    </div>
                </div>
            </div>
        }
    </div>
}

@code {
    
    protected override async Task OnInitializedAsync()
    {
        await LoadUsers();
    }
    
    // Liste med alle projekter fra databasen
    private List<UserModel> users = new();
    
    // Henter projekter fra API’et (bliver brugt flere gange)
    private async Task LoadUsers()
    {
        users = await Http.GetFromJsonAsync<List<UserModel>>("api/users/allusers");
        if (users == null)
        {
            users = new List<UserModel>();
        }
    }
}

