@page "/"

<PageTitle>Forside</PageTitle>

<h1>Projektstyringssystem</h1>

<p>
    Dette system er udviklet til Bosman Ejendomme ApS og bruges til at holde styr på projekter,
    opgaver og medarbejdere et samlet sted.
</p>

<h3>Hvad kan systemet?</h3>
<ul>
    <li>Oprette projekter og opgaver</li>
    <li>Tildele opgaver til medarbejdere</li>
    <li>Oprette og administrere skill tags på opgaver / brugere</li>
    <li>Registrere tidsforbrug</li>
    <li>Se status og deadlines</li>
    <li>Få overblik i en fælles kalender</li>
</ul>

<h3>For hvem?</h3>
<p>
    Administratorer kan oprette og styre projekter og opgaver.
    Medarbejdere kan se deres egne opgaver, registrere tid og opdatere status.
</p>