.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    z-index: 10;
}

.modal-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 6px;
    min-width: 300px;
    max-width: 600px;
    z-index: 11;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}
