@page "/register"
@using EksamensProjekt.Models
@inject UserRepo Users
@inject NavigationManager NAV
@rendermode InteractiveServer

<h3>Register</h3>
<input @bind="username" placeholder="Brugernavn" /><br />
<input @bind="email" placeholder="Email" /><br />
<input @bind="password" type="password" placeholder="Kode" /><br />
<input type="checkbox" @bind="isAdmin" id="isAdminCheckbox" />
<label for="isAdminCheckbox">Administrator</label><br />
<button type="button" @onclick="RegisterUser">Opret</button>

@inject HttpClient Http
@inject NavigationManager Nav

@code {
    string username = "";
    string email = "";
    string password = "";
    bool isAdmin = false;

    async Task RegisterUser()
    {
        var user = new UserModel
        {
            Username = username,
            Email = email,
            Password = password,
            IsAdmin = isAdmin
        };

        var res = await Http.PostAsJsonAsync("api/auth/register", user);

        if (res.IsSuccessStatusCode)
            NAV.NavigateTo(Nav.Uri, forceLoad: true);
    }
}